@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

html {
    font-size: 18px;
}

body {
    font-family: 'Epilogue', sans-serif;
    position: relative;
}


/* -------------------------------------header section--------------------------------------------- */

header {
    min-height: 50px;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.85rem;
    background-color: var(--Almost-White);
}

.logo-cont {
    display: flex;
    align-items: center;
}

.menu-container {
    max-width: 20px;
}

.menu-container img {
    width: 100%;
    height: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 500;
}

.sidenav a {
    padding: 8px 32px 8px 32px;
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 1.0625rem;
    color: #818181;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px !important;
    padding: 8px 10px 8px 8px;
}

#main {
    transition: margin-right 0.5s;
    z-index: 500;
}

.icon {
    position: absolute;
    left: 50%;
    transition: 0.5s;
}

.sidenav>ul>li>a:focus .icon {
    transform: rotate(180deg);
}

.sing-up {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.sidenav .sing-up__link {
    text-align: center;
}


/* El overlay hara que se oscuresca el fondo cuando el sidenav este desplegado */

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 100%;
    opacity: 0;
    z-index: -1;
    position: absolute;
    transition: opacity 250ms ease;
    width: 100%;
}

.overlay.visible {
    opacity: 1;
    z-index: 200;
}


/* ------------------------------------------------------------------------------------- */

.border {
    border: 1px solid var(--Almost-Black);
    border-radius: 8px;
    margin-inline: 1.2rem;
}

.border:hover,
.border:active {
    color: var(--Almost-White);
    background-color: var(--Almost-Black);
}

.submenu-cont {
    transition: all 1s ease;
}

.submenu {
    display: none;
    width: auto;
    min-height: max-content;
    margin: 15px 0;
    margin-left: 35px;
}

li.submenu-cont:focus-within .submenu {
    display: block;
}

.submenu-icon {
    margin-right: 7px;
}


/* ------------------------------------header section end------------------------------------------ */

picture>img,
figure>img {
    width: 100%;
    object-fit: cover;
}

#main-section {
    z-index: 700;
}

.main-section__article {
    margin-top: 2.5rem;
    padding-bottom: 4rem;
    text-align: center;
}

.main-section__article p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--Medium-Gray);
}

.btn-link-cont {
    margin: 1.5rem 0;
}

.btn-link-cont a {
    display: inline-block;
    padding: 0.8rem 1.2rem;
    border: 2px solid transparent;
    border-radius: 12px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    transition: 0.3s ease;
}

.btn:active {
    border-color: #000;
    background-color: transparent;
    color: #000;
}

.container-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    margin: 0 auto;
    margin-top: 2rem;
}


/* clases reusables */

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.container {
    width: 95%;
    max-width: 1080px;
    margin-inline: auto;
}


/* ------------------------------------------- */

@media screen and (min-width: 1080px) {
    header {
        padding: 1.8rem;
    }
    #main,
    span,
    .overlay,
    a.closebtn {
        display: none;
    }
    .sidenav {
        position: static;
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 0;
        overflow-x: visible;
        background-color: transparent;
    }
    .sidenav a {
        font-size: 1rem;
    }
    .sidenav>ul,
    .sing-up {
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
    }
    .submenu {
        font-size: 0.7rem;
        position: absolute;
        padding: 0.5rem;
        margin: 0;
        top: 5rem;
        border-radius: 5px;
        box-shadow: 2px 8px 16px 5px rgba(0, 0, 0, 0.26);
        min-height: max-content;
        background-color: #fff;
    }
    .sidenav>ul>li>a:focus {
        color: #000;
    }
    .icon {
        left: 85%;
    }
    /* main section */
    #main-section {
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        flex-direction: row-reverse;
        padding: 2rem;
    }
    .main-section__article {
        width: 60%;
        margin: 0;
        text-align: initial;
    }
    .main-section__article h1 {
        margin-top: 0;
        font-size: 3.5rem;
    }
    .btn-link-cont {
        margin-bottom: 5rem;
    }
    picture.img-contt {
        width: 40%;
    }
}